aiohttp
aiohttp-cors
aiohttp-session
aiosignal
AppOpener
async-timeout
attrs
beautifulsoup4
bs4
cffi
charset-normalizer
comtypes
cryptography
ddgs
distro
edge-tts
filelock
frozenlist
google-search-results
googlesearch-python
groq
h11
httpcore
httpx
httpx-sse
idna
invoke
jiter
keyboard
lxml
mtranslate
multidict
openai
packaging
paramiko
Pillow
playsound
propcache
psutil
PyAudio
PyAutoGUI
pycparser
pydub
pygame
PyGetWindow
PyMsgBox
PyRect
PyScreeze
PySocks
python-dotenv
pyttsx3
pytweening
pywhatkit
pywin32
PyYAML
replicate
requests
rich
schedule
selenium
sniffio
SpeechRecognition
sqlparse
tabulate
trio
trio-websocket
urllib3
webdriver-manager
websocket-client
wmi
yarl
cohere